.home{
    margin: 5% auto;
    width: 40vw;
}


.home h2{
    margin-bottom: 30px;
}

input.add::-webkit-input-placeholder{
    font-size: large;
}

input.add{
    border: 1px solid gray;
}

input.form-control:focus{
    border-radius: 0;
}

input.add:focus {
    border: none;
    border-bottom: 1px solid gray;
    box-shadow: none !important;
}
